/node_modules
/public/hot
/public/qrcode/*.svg
/public/images/*
/public/documents/*
/public/videos/*
/public/others/*
/public/hot
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
